<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        <!-- Mode Button -->
        <button id="theme-toggle" class="mode-button">Mode</button>

        <!-- Conditional Header -->
        {{ if not .IsHome }}
            {{- partial "header.html" . -}}
        {{ end }}
        
        <!-- Main Content -->
        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>

        <!-- Scripts -->
        <script src="/js/sirabdi.js"></script>
    </body>
</html>