{{ define "main" }}
<div class="container" role="main">
    <div class="posts-list">

    <!-- Title -->
    <h5>Tag: {{ .Title }}</h5>

    {{ $name := .Title }}
    <!-- List All Posts -->
    {{ range sort .Data.Pages }}
        <h2 class="tag-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ $wordCount := len (split .Content " ") }}
        {{ if and .Date (gt $wordCount 20) }}
          {{ $readingTime := div $wordCount 150 }}
          
        {{ end }}
        <p>{{ .Description }}</p>
    {{ end }}
    </div>
</div>
{{ end }}
