{{ $title := .Get "title" }}
{{ $hasBlogPost := .Get "hasBlogPost" | default false }}
{{ $hasQuickThought := .Get "hasQuickThought" | default false }}
{{ $blogPostLink := .Get "blogPostLink" | default "#" }}

<div class="book-entry{{ if $hasBlogPost }} has-blog-post{{ end }}">
  {{ if $hasBlogPost }}
    <a href="{{ $blogPostLink }}" class="book-link">
      {{ $title }}{{ if $hasQuickThought }}**{{ end }}
    </a>
  {{ else }}
    <span>{{ $title }}{{ if $hasQuickThought }}**{{ end }}</span>
  {{ end }}
</div>
